.divider {
  width: 15%;
  height: 5px;
  background-color: #1FD160;
  margin-bottom: 35px !important;
}

.panel {
  border-radius: 25px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  background: #E6E6E6;
  padding: 20px;
}

#map {
  height: 300px;
  margin: 0;
  padding: 0;
}